// FOOTER::START
footer.footer
  .container
    .row
      .col-sm-8
        .footer__copy © 2017   EXone — Мультивалютный обменный сервис.
        .footer__contact
          i.fa.fa-location-arrow
          a(href="#") Сочи, ул. Маяковского, 150-Б
        .footer__contact
          i.fa.fa-mobile
          span +7 (8652) 25-09-20, 25-69-72
        .footer__contact
          i.fa.fa-envelope
          a(href="mailto:exone228") exone228@mail.ru

      .col-sm-4
        .footer__developer Дизайн —
          a(href="#") Школа Шашлыка




// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/owl.carousel/dist/owl.carousel.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/main.js")
//endbuild
