// HEADER::START
header.header
  .container
    .row.align-items-sm-center
      .col-sm-6.col-xl-5
        a(href='#')
          i.ico.ico-logo
        .header__metrics
          .header__metric
            | Выплаченные дивиденды:
            span  1 000 000 $
          .header__metric
            | Прибыль в год:
            span  4%
      .col-sm-4
        .header__buttons
          a(href="#").btn.btn-secondary Инвесторам
          a(href="#").header__help-link Помощь
      .col-sm-2.col-xl-3.text-sm-right
        .header__profile
          .header__profile__avatar
            img(src="images/avatar.png")
          .header__profile__counter 4
          i.ico.ico-dropdown

.subheader
  .container
    .row
      .col-sm-6
        .crumbs
          a(href="#") Весь сайт
          a(href="#") Специальность
          span Ссылка
      .col-sm-6.text-sm-right
        .subheader__support Тех. поддержка 8 800 123 45 67
