head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Exone - Обмен электронных валют

  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css")

  //build:css css/styles.css
  link(rel="stylesheet" href="css/bootstrap.css" type="text/css")
  link(rel="stylesheet" href="components/magnific-popup/dist/magnific-popup.css" type="text/css")
  link(rel="stylesheet" href="components/owl.carousel/dist/assets/owl.carousel.css" type="text/css")
  link(rel="stylesheet" href="css/style.css" type="text/css")
  //endbuild

  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet')
