.mobile-menu
  .mobile-menu__menu
    i.ico.ico-logo
    a(href='homepage.html') Обмен валют
    a(href='news.html') Новости
    a(href='testimonials.html') Отзывы
    a(href='registration.html') Личный кабинет
