doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // COUNTER::START
    .counter
      .container
        .row
          .col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-sm-8.col-lg-6.offset-lg-0
            // block
            .counter__block
              .counter__block__heading Отдаёте ↓
              .row
                .col-sm-7.col-xl-8
                  .ui-select
                    .ui-select__visible
                      i.ico.ico-select
                      i.ico.ico-currency.ico-currency--qiwi
                      span.currency__name QIWI <span>RUB</span>
                    .ui-select__dropdown
                      .ui-select__dropdown__item(data-id="item")
                        i.ico.ico-currency.ico-currency--qiwi
                        span.currency__name QIWI <span>RUB</span>
                      .ui-select__dropdown__item(data-id="item")
                        i.ico.ico-currency.ico-currency--qiwi
                        span.currency__name QIWI <span>RUB</span>

                .col-sm-5.col-xl-4
                  .ui-input
                    span Сумма:
                    input(type="text" value="5000").form-control.form-control--short

              // row
              .row.mt15
                .col-sm-7.col-xl-8
                  .counter__help-text С учетом комиссии платежной системы QIWI RUB (0.15 %) к списания с вашего счета
                .col-sm-5.col-xl-4
                  .ui-input
                    span Сумма:
                    input(type="text" value="5126,00" disabled).form-control.form-control--short
              // row
              .row
                .col-sm-7.col-xl-8
                  .form-group
                    label Со счета:
                    input(type="text" placeholder="введите счет").form-control.bold
          .col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-lg-6.offset-lg-0
            // BLOCK
            .counter__block
              .counter__block__heading Получаете ↓
              .row
                .col-sm-7.col-xl-8
                  .ui-select
                    .ui-select__visible
                      i.ico.ico-select
                      i.ico.ico-currency.ico-currency--qiwi
                      span.currency__name QIWI <span>RUB</span>
                    .ui-select__dropdown
                      .ui-select__dropdown__item(data-id="item")
                        i.ico.ico-currency.ico-currency--qiwi
                        span.currency__name QIWI <span>RUB</span>
                      .ui-select__dropdown__item(data-id="item")
                        i.ico.ico-currency.ico-currency--qiwi
                        span.currency__name QIWI <span>RUB</span>

                .col-sm-5.col-xl-4
                  .ui-input
                    span Сумма:
                    input(type="text" value="5000").form-control.form-control--short

              // row
              .row.mt15
                .col-sm-7.col-xl-8
                  .counter__help-text С учетом комиссии платежной системы QIWI RUB (0.15 %) к списания с вашего счета
                .col-sm-5.col-xl-4
                  .ui-input
                    span Сумма:
                    input(type="text" value="5126,00" disabled).form-control.form-control--short
              // row
              .row
                .col-sm-7.col-xl-8
                  .form-group
                    label На счет:
                    input(type="text" placeholder="введите счет").form-control.bold
                .col-sm-5.col-xl-4.mt35
                  a(href="#").btn.btn-primary.btn-block Дальше

    // EXCHANGE
    .exchange
      .container
        .row
          .col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-sm-8.col-lg-6.offset-lg-0
            .counter__block.counter__block--exchange
              .counter__block__exchange
                .counter__block__heading Отдаёте  →
                .counter__block__filters
                  .counter__block__filter.active(data-filter="btc") <span>฿</span> BTC
                  .counter__block__filter(data-filter="") <span>₽</span> RUR
                  .counter__block__filter(data-filter="") <span>$</span> USD
                  .counter__block__filter(data-filter="") <span>€</span> EUR

              .exchange-list
                .exchange-list__item(data-currency="btc").active
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--bitcoin-yellow
                    .exchange-list__item__name Bitcoin
                .exchange-list__item(data-currency="btc")
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--litecoin
                    .exchange-list__item__name Litecoin
                .exchange-list__item(data-currency="btc")
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--ethereum
                    .exchange-list__item__name Ethereum

          .col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-sm-8.col-lg-6.offset-lg-0
            .counter__block.counter__block--exchange
              .counter__block__exchange
                .counter__block__heading Отдаёте  →
                .counter__block__filters
                  .counter__block__filter.active(data-filter="") <span>฿</span> BTC
                  .counter__block__filter(data-filter="") <span>₽</span> RUR
                  .counter__block__filter(data-filter="") <span>$</span> USD
                  .counter__block__filter(data-filter="") <span>€</span> EUR

              .exchange-list
                .exchange-list__item(data-currency="btc")
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--alpha
                    .exchange-list__item__name Альфа-Банк <span>RUB</span>
                    .exchange-list__item__reserv
                      .exchange-list__item__reserv__name
                        span Резерв
                        i.ico.ico-question(data-toggle="tooltip" data-placement="left" title="Какая то инфа")
                      .exchange-list__item__reserv__value
                        span 7 470 RUR
                  .exchange-list__item__fold
                    .exchange-list__item__rate
                      i.ico.ico-rate
                      span Курс: 1 BTC = 69037 RUR
                    .exchange-list__item__cta
                      i.ico.ico-refresh
                      a(href='#').btn.btn-primary Обменять
                // items
                .exchange-list__item(data-currency="btc").active
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--sberbank
                    .exchange-list__item__name Сбербанк <span>ОнЛ@йн</span>
                    .exchange-list__item__reserv
                      .exchange-list__item__reserv__name
                        span Резерв
                        i.ico.ico-question(data-toggle="tooltip" data-placement="left" title="Какая то инфа")
                      .exchange-list__item__reserv__value
                        span 7 470 RUR
                  .exchange-list__item__fold
                    .exchange-list__item__rate
                      i.ico.ico-rate
                      span Курс: 1 BTC = 69037 RUR
                    .exchange-list__item__cta
                      i.ico.ico-refresh
                      a(href='#').btn.btn-primary Обменять

                // items
                .exchange-list__item(data-currency="btc")
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--tinkoff
                    .exchange-list__item__name Тинькофф <span>Кредитные Системы</span>
                    .exchange-list__item__reserv
                      .exchange-list__item__reserv__name
                        span Резерв
                        i.ico.ico-question(data-toggle="tooltip" data-placement="left" title="Какая то инфа")
                      .exchange-list__item__reserv__value
                        span 7 470 RUR
                  .exchange-list__item__fold
                    .exchange-list__item__rate
                      i.ico.ico-rate
                      span Курс: 1 BTC = 69037 RUR
                    .exchange-list__item__cta
                      i.ico.ico-refresh
                      a(href='#').btn.btn-primary Обменять

                // items
                .exchange-list__item(data-currency="btc")
                  .exchange-list__item__inner
                    i.ico.ico-currency.ico-currency--qiwi
                    .exchange-list__item__name QIWI <span>RUB</span>
                    .exchange-list__item__reserv
                      .exchange-list__item__reserv__name
                        span Резерв
                        i.ico.ico-question(data-toggle="tooltip" data-placement="left" title="Какая то инфа")
                      .exchange-list__item__reserv__value
                        span 7 470 RUR
                  .exchange-list__item__fold
                    .exchange-list__item__rate
                      i.ico.ico-rate
                      span Курс: 1 BTC = 69037 RUR
                    .exchange-list__item__cta
                      i.ico.ico-refresh
                      a(href='#').btn.btn-primary Обменять
    // РЕЗЕРВЫ
    .reserves
      .container
        .row
          .col-sm-12
            .block-heading резерв валюты
        .row.condenced-pad
          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--yandex
              .reserves__item__content
                .reserves__item__name Яндекс.Деньги RUR
                .reserves__item__left 1 895.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--bitcoin
              .reserves__item__content
                .reserves__item__name BTCE USD
                .reserves__item__left 15.9
          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--yandex
              .reserves__item__content
                .reserves__item__name Яндекс.Деньги RUR
                .reserves__item__left 1 895.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--bitcoin
              .reserves__item__content
                .reserves__item__name BTCE USD
                .reserves__item__left 15.9
          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--yandex
              .reserves__item__content
                .reserves__item__name Яндекс.Деньги RUR
                .reserves__item__left 1 895.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--bitcoin
              .reserves__item__content
                .reserves__item__name BTCE USD
                .reserves__item__left 15.9
          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--yandex
              .reserves__item__content
                .reserves__item__name Яндекс.Деньги RUR
                .reserves__item__left 1 895.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--bitcoin
              .reserves__item__content
                .reserves__item__name BTCE USD
                .reserves__item__left 15.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--yandex
              .reserves__item__content
                .reserves__item__name Яндекс.Деньги RUR
                .reserves__item__left 1 895.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--bitcoin
              .reserves__item__content
                .reserves__item__name BTCE USD
                .reserves__item__left 15.9
          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--yandex
              .reserves__item__content
                .reserves__item__name Яндекс.Деньги RUR
                .reserves__item__left 1 895.9

          // item
          .col-sm-6.col-md-4.col-xl-3
            .reserves__item
              i.ico.ico-currency.ico-currency--bitcoin
              .reserves__item__content
                .reserves__item__name BTCE USD
                .reserves__item__left 15.9

    // НОВОСТИ
    .news
      .container
        .row
          .col-sm-12
            .block-heading Новости
            .news__wrapper
              // item
              .news__item
                a(href='#').news__item__name Где купить доллары?
                .news__item__short Открыты новые направления для вывода электронных валют: Contact, Unistream, MoneyGram и другие системы денежных переводов.
                .news__item__date 20.08.2016
              // item
              .news__item
                a(href='#').news__item__name Новые направления для вывода электронных валют
                .news__item__short Открыты новые направления для вывода электронных валют: Contact, Unistream, MoneyGram и другие системы денежных переводов.
                .news__item__date 20.08.2016
              // item
              .news__item
                a(href='#').news__item__name Где купить доллары?
                .news__item__short Открыты новые направления для вывода электронных валют: Contact, Unistream, MoneyGram и другие системы денежных переводов.
                .news__item__date 20.08.2016
            .block__muted-bottom
              a(href='#')
                i.ico.ico-files
                span Ещё новости

    // ОТЗЫВЫ
    .testimonials
      .container
        .row
          .col-sm-12.col-lg-8
            .block-heading отзывы
            .testimonials__wrapper.owl-carousel#owlTestmonials
              .testimonials__item
                .testimonials__item__head
                  .testimonials__item__avatar
                    img(src="images/testimonial.png")
                  .testimonials__item__name Константин Константинопольский
                    span 12 января
                .testimonials__item__content
                  .testimonials__item__content__icons
                    a(href="#")
                      i.ico.ico-heart
                    a(href="#")
                      i.ico.ico-testimonials
                  .testimonials__item__content__text
                    p Как обычно оператор все объяснит все расскажет какие имеются вопросы сервис на вышем уровне зачисления на биткойн быстро в общем всем рекомендую оценка 10/10 балов.
              // следующий отзыв
              .testimonials__item
                .testimonials__item__head
                  .testimonials__item__avatar
                    img(src="images/testimonial.png")
                  .testimonials__item__name Константин Константинопольский
                    span 12 января
                .testimonials__item__content
                  .testimonials__item__content__icons
                    a(href="#")
                      i.ico.ico-heart
                    a(href="#")
                      i.ico.ico-testimonials
                  .testimonials__item__content__text
                    p Как обычно оператор все объяснит все расскажет какие имеются вопросы сервис на вышем уровне зачисления на биткойн быстро в общем всем рекомендую оценка 10/10 балов.

            .block__muted-bottom
              a(href='#')
                i.ico.ico-comments
                span Ещё отзывы

          .col-sm-6.offset-sm-3.col-lg-4.offset-lg-0.mt-30--dekstop
            .block-heading последний обмен
            .last-exchange
              .last-exchange__wrapper
                .last-exchange__item
                  i.ico.ico-currency.ico-currency--sberbank
                  .last-exchange__name 178 392 <span>RUR</span>
                .last-exchange__item
                  .last-exchange__next →
                .last-exchange__item
                  i.ico.ico-currency.ico-currency--yandex
                  .last-exchange__name 78 392 <span>RUR</span>

            .block__muted-bottom.dark-text
              span 05.03.2017, 17:13


    include shared/footer.pug
