doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // РЕГИСТРАЦИЯ
    .registration
      .container
        .row
          .col-sm-12.col-lg-8
            .counter__block
              .counter__block__heading Регистрация пользователя

              form(action="#")
                .row
                  .col-sm-6
                    .form-group
                      label Логин
                      input(type="text" placeholder="Логин").form-control
                  .col-sm-6
                    .form-group
                      label Email
                      input(type="email" placeholder="Ваш email").form-control
                  .col-sm-6
                    .form-group
                      label Пароль
                      input(type="password" placeholder="Ваш пароль").form-control
                  .col-sm-6
                    .form-group
                      label Подтвердите пароль
                      input(type="password" placeholder="Подтвердите пароль").form-control
                  .col-sm-6
                    .form-group
                      label Имя
                      input(type="text" placeholder="Ваше имя").form-control
                  .col-sm-6
                    .form-group
                      label Фамилия
                      input(type="text" placeholder="Ваша фамилия").form-control
                  .col-sm-6
                    .form-group
                      label Дата рождения
                      .captcha.birthday
                        input(type="text" placeholder="23").form-control
                        input(type="text" placeholder="23").form-control
                        input(type="text" placeholder="23").form-control

                  .col-sm-6
                    .form-group
                      label Телефон
                      input(type="tel" placeholder="Ваш Телефон").form-control
                .row
                  .col-sm-12
                    .ui-checkbox
                      input(type="checkbox" name='agree' id='agree')
                      label(for="agree") Я принимаю согласие на обработку моих данных, а также ознакомлен с <a href="#">правилами</a> сайта.

                    .counter__input-helper--validation
                      span Ошибка! <br> Исправьте поля выделенные красным

                    .text-center.mt15
                      button(type="submit").btn.btn-primary.btn-green Завершить регистрацию

          .col-sm-10.offset-sm-1.col-lg-4.offset-lg-0.mt-30--dekstop.no-pad-l

            .counter__block.counter__block--narrow
              .counter__block__heading Правила сайта
              .registration__rules
                p 1. Термины, используемые в настоящих Правилах

                p 1.1. Сайт ВКонтакте (или Сайт) – социальная сеть, известная под именем «ВКонтакте», размещенная на сайте в сети Интернет по адресу: VK.com (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и вводимые в эксплуатацию в течение всего срока его действия) и доступная Пользователю через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая собой результат интеллектуальной деятельности в форме программы для ЭВМ. Социальная сеть представлена в объективной форме совокупностью данных и команд, и порождаемых аудиовизуальных отображений (включая входящие в ее состав графические изображения и пользовательский интерфейс), (далее – данные и команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях получения определенного результата в виде организации функционала социальной сети. Совокупность данных и команд состоит из активированных и неактивированных данных и команд.

                p 1.2. Неактивированные данные и команды – данные, команды и порождаемые аудиовизуальные отображения, позволяющие увеличить количество виртуальных ценностей, используемых в рамках функциональных возможностей Сайта. Условия предоставления Администрацией Пользователю права на использование неактивированных данных и команд определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе в сети Интернет по адресу: http://vk.com/licence, заключаемом Администрацией Сайта с Пользователем.



    // ОТЗЫВЫ
    .testimonials
      .container
        .row
          .col-sm-12.col-lg-8
            .block-heading отзывы
            .testimonials__wrapper.owl-carousel#owlTestmonials
              .testimonials__item
                .testimonials__item__head
                  .testimonials__item__avatar
                    img(src="images/testimonial.png")
                  .testimonials__item__name Константин Константинопольский
                    span 12 января
                .testimonials__item__content
                  .testimonials__item__content__icons
                    a(href="#")
                      i.ico.ico-heart
                    a(href="#")
                      i.ico.ico-testimonials
                  .testimonials__item__content__text
                    p Как обычно оператор все объяснит все расскажет какие имеются вопросы сервис на вышем уровне зачисления на биткойн быстро в общем всем рекомендую оценка 10/10 балов.
              // следующий отзыв
              .testimonials__item
                .testimonials__item__head
                  .testimonials__item__avatar
                    img(src="images/testimonial.png")
                  .testimonials__item__name Константин Константинопольский
                    span 12 января
                .testimonials__item__content
                  .testimonials__item__content__icons
                    a(href="#")
                      i.ico.ico-heart
                    a(href="#")
                      i.ico.ico-testimonials
                  .testimonials__item__content__text
                    p Как обычно оператор все объяснит все расскажет какие имеются вопросы сервис на вышем уровне зачисления на биткойн быстро в общем всем рекомендую оценка 10/10 балов.

            .block__muted-bottom
              a(href='#')
                i.ico.ico-comments
                span Ещё отзывы

          .col-sm-6.offset-sm-3.col-lg-4.offset-lg-0.mt-30--dekstop
            .block-heading последний обмен
            .last-exchange
              .last-exchange__wrapper
                .last-exchange__item
                  i.ico.ico-currency.ico-currency--sberbank
                  .last-exchange__name 178 392 <span>RUR</span>
                .last-exchange__item
                  .last-exchange__next →
                .last-exchange__item
                  i.ico.ico-currency.ico-currency--yandex
                  .last-exchange__name 78 392 <span>RUR</span>

            .block__muted-bottom.dark-text
              span 05.03.2017, 17:13


    include shared/footer.pug
